
code/windows/C\# version/mewtApp/obj/
code/windows/C\# version/mewtApp/bin/
code/windows/C\# version/mewtApp/.vs/
code/windows/C\# version/mewtApp/mewtApp.csproj.user
code/windows/C\# version/mewtApp/Debug/
code/windows/C\# version/mewtApp/Release/